Source: senia-cdd
Section: metapackages
Priority: extra
Maintainer: Angel Berlanas Vicente <angel.berlanas@gmail.com>
Build-Depends: debhelper (>=9), unzip, python3-dev, python-dev, dh-python
Standards-Version: 3.9.7

Package: senia-backgrounds
Architecture: all
Depends: ${misc:Depends}, mate-desktop-environment, lightdm-gtk-greeter, plymouth-theme-kubuntu-logo
Description: senia wallpapers and settings
 Customized backgrounds for SENIA IES

Package: senia-session-cleaner-for-mate
Architecture: all
Depends: ${misc:Depends}
Description: Senia-cdd session cleaner
 Disable all other sessions for Senia 

Package: senia-browsers-settings
Architecture: all
Depends: ${misc:Depends}
Description: Senia-cdd settings for browsers
 Enables always private browsing on firefox
 Settings custom web page

Package: senia-cdd
Architecture: all
Depends: ${misc:Depends},senia-backgrounds, senia-session-cleaner-for-mate, senia-browsers-settings, senia-firstboot, senia-dependences
Description: IES La Senia CDD
 All the stuff

Package: senia-non-essential-tools
Architecture: all
Depends: ${misc:Depends},${python:Depends}, ${python3:Depends}, python3-xlrd,python-opencv,python3-pyside.qtgui, python3-pyside.qtcore, python-pil
Description: But highly recommended
 IES La Senia development packages and tools packages

Package: senia-firstboot
Architecture: all
Depends: ${misc:Depends}, nagios-nrpe-server, ocsinventory-agent
Recommends: vim
Description: Senia Firstboot for cloned systems
 Firstboot script made by David and Fons to solve 
 the braindamage of Angel Berlanas.

Package: senia-nagios-plugins
Architecture:all
Depends: ${misc:Depends},nagios-nrpe-server
Description: Senia plugins for Nagios
 Some nagios plugins to solve Senia 
 Monitoring

Package: senia-carrusel
Architecture:all
Depends: ${misc:Depends},ffmpeg, gnome-web-photo, mencoder
Description: Senia package for carrusel
 Some stuff to solve the Senia problem
 with Videos and TV
 
Package: senia-dependences
Architecture:all
Depends: ${misc:Depends},openssh-server, inkscape, vlc, vim
Description: Senia Metapackage of dependences
 Some packages  to group dependences

Package: senia-startup-conf
Architecture:all
Depends: ${misc:Depends},unattended-upgrades
Description: Senia APT and StartUp configuration
 Senia APT upgrades
